/* Утилиты - ШАБЛОНЫ - placeholder */ 

/* Шаблон для немаркированного списка */
%list {
    /* Сбросить все отступы по умолчанию */
    padding: 0;
    margin: 0;
    /* Убрать первые точечки в неупорядоченном списке */
    list-style: none;
}

/* Шаблон, который ограничивает контент размером сетки и устанавливает отступы */
%container {

    /* Внутренние отступы для блока */
    padding-top: 0px;
    padding-right: 12px;
    padding-bottom: 12px;
    padding-left: 12px;
    
    /* Выравнивание блока по центру */
    margin-left: auto;
    margin-right: auto;
 
    /*===============================================*/
    /* Установка для мобильной версии */
    /* по максимальной ширине мобильного устройства*/
    max-width: $mobile;
    width: 100%;
    /*===============================================*/

    /*===============================================*/
    /* Установка для промежутка между мобильной версией и планшетом */
    @media screen and (min-width:$mobile){
        width: $mobile;
    }

    /*===============================================*/
    /* Установка для размера - больше планшета */
    @media screen and (min-width:$tablet) {
        max-width: none;
        width: 100%;
    }

    // @media screen and (min-width:$desktop) {
    //     width: 1200px;
    // }

    /*===============================================*/
    @media print {
        max-width: none;
        width: 100%;
    }

    


}