/* Переменные */



/* Переменные точек перелома адаптивной верстки*/
$mobile: 480px;
$tablet: 768px;
$desktop: 1200px;
/*================================================*/


/* Палитра основных цветов */

/*========================================*/ 
/* ПЕРЕМЕННЫЕ - в виде SACC-переменных */ 
$color-bg-main: #FEEFD6;
$color-bg-section: rgb(143, 220, 222, 0.15);
$color-bg-subsection:rgb(143,220,222,0.3);
$color-bg-part: rgb(143, 220, 222, 0.7);
$color-bg-details: rgb(143, 220, 222, 1);
$color-black:#0D0D0D;
$color-white:#FBFBFB;
$color-accent: #24156E;


/*========================================*/
/* ПЕРЕМЕННЫЕ - в виде CSS-переменных */
/* :root - специфичный аналог селектора <html> в CSS*/
/* CSS-переменные (кастомные свойства) */
// :root {
//     --main-text-color: #757575;
// }

/* =============================================================*/
/* ПЕРЕМЕННЫЕ - в виде КАРТЫ */
// $colors: (
//     'main-text': #757575,
//     'text-tel': rgba(255, 255, 255, 0.6),
// );

/* Функция получения цвета из карты */
// @function getColor($key) {
//     @return map-get($colors, $key);
// }


