/* Переменные */


/* Переменные точек перелома адаптивной верстки*/
$mobile: 480px;
$tablet: 768px;
$desktop: 1200px;
/*================================================*/


/* Палитра основных цветов */

/*========================================*/ 
/* ПЕРЕМЕННЫЕ - в виде SACC-переменных */ 
$color-bg-main: #FEEFD6;
$color-bg-section: #D2E1D8;
$color-bg-part: #8FDCDE;
$color-black:#0D0D0D;
$color-white:#FBFBFB;
$color-accent: #24156E;
$color-orange: #FBA85A;

/*========================================*/
/* ПЕРЕМЕННЫЕ - в виде CSS-переменных */
/* :root - специфичный аналог селектора <html> в CSS*/
/* CSS-переменные (кастомные свойства) */
// :root {
//     --main-text-color: #757575;
// }

/* =============================================================*/
/* ПЕРЕМЕННЫЕ - в виде КАРТЫ */
// $colors: (
//     'main-text': #757575,
//     'text-tel': rgba(255, 255, 255, 0.6),
// );

/* Функция получения цвета из карты */
// @function getColor($key) {
//     @return map-get($colors, $key);
// }


