// Настройки для header
header {
    /* Шаблон, который ограничивает контент размером сетки и устанавливает отступы */
    @extend %container;
}

/* Верхняя строка - header */
.page-header {

    // Внутренние отступы 
    // сверху и снизу = 8px, справа и слева = 12px
    padding: 8px 12px 8px 12px;

    /* Ширина блока - 100% ширины container */
    width: 100%;

    /* Фиксированная верхняя строка меню */
    position: fixed;
    /* Абсолютное позиционирование Верх и слева*/
    top: 0;
    left: 0;
    /* page-header ставится поверх ВСЕХ слоев */
    z-index: 999;


    /* Цвет фона*/
    background-color: $color-bg-main;
    /* Минимальная высота */
    // min-height: 20px;
        
    /* Нижняя граница элемента */
    // border-bottom: var(--stroke-index-color) solid 1px;
        
    // Блок page-header делаем флексом и располагаем в строку
    display: flex;
    /* Установка всех элементов в строку */
    flex-direction: row;
    /* Выравнивание всех элементов контейнера по второстепенной оси - по центру */
    align-items: center;
    /* Выравнивание контента - по расстоянию между ними*/
    justify-content:space-between;
    /* Расстояние между элементами */
    gap: 12px;

        // /*===============================================*/
        // /* Установка для промежутка между мобильной версией и планшетом */
        // @media screen and (min-width:$mobile) {
        //     /* Ширина блока */
        //     width: $mobile;
        // }           
        // /*===============================================*/
        // /* Установка для размера - больше планшета */
        // @media screen and (min-width:$tablet) {
        //     /*  */
        //     width: 100%;
        // }

    // Флекс-блок для секций секций 
    /* Для мобильного версии */
    & .title-main {
        // Блок делаем флексом
        display: flex;
        /* Установка всех элементов в столбец c реверсом */
        flex-direction: column-reverse;
        /* Выравнивание всех элементов контейнера по второстепенной оси - по центру */
        align-items: center;
        /* Расстояние между элементами */
        gap: 12px;
        /* Увеличение размеров блока по сравнению с меню языков*/
        flex-grow: 1;

        /* Выравнивание контента - по расстоянию между ними */
        //     justify-content:space-between;

            /*===============================================*/
            /* Установка для промежутка между мобильной версией и планшетом */
            // @media screen and (min-width:$mobile) {
            //     
            // }           
            /*===============================================*/
            /* Установка для размера - больше планшета */
            @media screen and (min-width:$tablet) {
                /* Установка всех элементов в строку */
                flex-direction: row;
            }
    }


    /* Меню кнопок выбора языка*/
    /* Для мобильного версии */
    & .lang-menu {
        /*------------------------------------------------------------*/
        // Для блока в любой модификации
        /* Шаблон, который определяет "нулевые" установки для ненумерованного списка */
        @extend %list;

        padding-top: 4px;
        padding-right: 4px;
        padding-bottom: 4px;
        padding-left: 4px;
        /* Ширина блока установлена по размеру контента */
        width: fit-content;
        
        // Блок делаем флексом
        display: flex;
        /* Расстояние между кнопками */
        gap: 4px;
        /* Выравнивание по второстепенной оси */
        align-items: center;
        /*------------------------------------------------------------*/

        /* Установка всех элементов в столбец  */
        flex-direction: column;
        
            /*===============================================*/
            /* Установка для промежутка между мобильной версией и планшетом */
            // @media screen and (min-width:$mobile) {
                //     
            // }           
            /*===============================================*/
            /* Установка для размера - больше планшета */
            @media screen and (min-width:$tablet) {
                /* Установка всех элементов в строку */
                flex-direction: row;
            }
       
    }

}






.lang-btn {
    display: inline-flex;

    // Радиус скругления кнопки
    border-radius: 8px;
    // Стиль обводки кнопки - одинарная линия
    border-style: solid;
    border-width: 1px;
    // Обводка кнопки - цвет основного фона
    border-color: $color-bg-main;

    // Курсор при hover
    cursor: pointer;

    // Внутренние отступы для контента кнопок (текста кнопок)
    padding: 5px;
    // Цвет текста кнопки
    color: $color-black;
    // Цвет кнопки
    background-color: $color-bg-part;
     

    /* Текущий язык сайта*/
    &.current {
        // Добавляется цвет обводка кнопки  
        border-color: $color-black;
        // Цвет текста кнопки
        color: $color-white;
        // Цвет кнопки 
        background-color: $color-accent;
        // Шрифт - жирный
        font-weight: 700;
    }

    // Изменения при наведении мыши или фокусе
    &:hover,
    &:focus {
        // Добавляется цвет обводка кнопки  
        border-color: $color-black;

        // Внутренние отступы для контента кнопок (текста кнопок)
        // padding: 8px;
        // Цвет кнопки
        // background-color: $color-bg-part;
    }
}




