/* Стили для секции*/


// Блок с основным контентом
.main-content {

    /* Шаблон, который ограничивает контент размером сетки и устанавливает отступы */
    @extend %container;

   
    /* Блок делаем флексом */
    display: flex;
    /* Установка всех элементов в столбец */
    flex-direction: column;

    /* Расстояние между колонками */ 
    gap: 12px;

    /* Выравнивание всех элементов контейнера по второстепенной оси - по центру */
    // align-items: center;
    /* Выравнивание контента - по расстоянию между ними*/
    // justify-content: ;

        /*===============================================*/
        /* Установка для промежутка между мобильной версией и планшетом */
        // @media screen and (min-width:$mobile) {
        //     
        // }           
        /*===============================================*/
        /* Установка для размера - больше планшета */
        @media screen and (min-width:$tablet) {
            /* Установка всех элементов в строку */
            flex-direction: row;
        }

}

.side-left {
    /* Ширина блока */
    width: 100%;

    /* Блок делаем флексом */
    display: flex;
    /* Установка всех элементов в столбец */
    flex-direction: column;
    /* Расстояние между блоками */
    gap: 12px;

        /*===============================================*/
        /* Установка для промежутка между мобильной версией и планшетом */
        // @media screen and (min-width:$mobile) {
            //     
        // }           
        /*===============================================*/
        /* Установка для размера - больше планшета */
        @media screen and (min-width:$tablet) {
            /* Ширина блока */
            max-width: 400px;
        }
}


.side-right {
    /* Ширина блока */
    width: 100%;
    /* Блок делаем флексом */
    display: flex;
    /* Установка всех элементов в столбец */
    flex-direction: column;
    /* Расстояние между блоками */
    gap: 12px;
}



/* Секция = Заголовок + Список */
.section {

    padding-top: 8px;
    padding-right: 0px;
    padding-bottom: 8px;
    padding-left: 0px;
    
    border-radius: 12px;
    border-style: solid;
    border-color: $color-bg-part;
    border-width: 1px;

    background-color: $color-bg-section;

    /* Ширина блока */
    width: 100%;
    /* Блок делаем флексом */
    display: flex;
    /* Установка всех элементов в столбец */
    flex-direction: column;
    /* Расстояние между блоками */
    gap: 8px;
    /* Выравнивание контента - по расстоянию между ними*/
    // justify-content: space-between;
    /* Выравнивание всех элементов контейнера по второстепенной оси - по центру */
    // align-items: center;


    & .photo {
        padding-top: 0;
        padding-bottom: 0;

        display: block;
        /* Ширина блока */
        width: 100%;
        height: auto;
        // object-fit: cover;
        border-radius: 12px;
    }

    &.adds-info {
        /* В мобильной версии невидим блок - Дополнительная информация */
        display: none;
            /*===============================================*/
            /* Установка для промежутка между мобильной версией и планшетом */
            // @media screen and (min-width:$mobile) {
                //     
            // }           
            /*===============================================*/
            /* Установка для размера - больше планшета */
            @media screen and (min-width:$tablet) {
                /* Видимость блока - Дополнительная информация */
                display: inline-flex;
            }
    }
}


/* Заголовок секции */
.text-title-section, 
.text-title-main {
    // Выравнивание текста внутри блока
    text-align: center;
}

/* Список внутри секции - ul */
.list {
    /* Шаблон, который определяет "нулевые" установки для ненумерованного списка */
    @extend %list;
    /* Блок делаем флексом */
    display: flex;
    /* Установка всех элементов в столбец */
    flex-direction: column;
    /* Расстояние между блоками */
    gap: 8px;
    /* Выравнивание контента - по расстоянию между ними*/
    // justify-content: space-between;
    /* Выравнивание всех элементов контейнера по второстепенной оси - по центру */
    // align-items: center;
}

/* Блоки списка */
.item {
    /* Для абсолютного позиционирования кнопки - Подробнее..*/
    position: relative;

    width: 100%;
    padding-top: 4px;
    padding-right: 24px;
    padding-bottom: 4px;
    padding-left: 24px;
    
    background-color: $color-bg-part;
    border: none;
    border-radius: 8px;

    /* Ширина блока */
    width: 100%;
    /* Блок делаем флексом */
    display: flex;
    /* Установка всех элементов в строку */
    flex-direction: row;
    /* Расстояние между блоками */
    // gap: 8px;

    /* Выравнивание контента */
    /* Для блоков с оценками - по расстоянию между ними */
    justify-content: space-between;

    /* Выравнивание всех элементов контейнера по второстепенной оси - по центру */
    align-items: center;


}

.contacts .item {
    /* Расстояние между блоками */
    gap: 24px;
    /* Выравнивание контента */
    justify-content: start;
}

.icon {
    display: inline-block;
    margin: 0;
    // fill: $color-bg-main;
}

.education .item,
.works .item,
.projects .item  {
    /* Установка всех элементов в столбец */
    flex-direction: column;
    /* Расстояние между блоками */
    gap: 4px;
        
    /* Выравнивание контента */
    /* Для блоков с оценками - по расстоянию между ними */
    // justify-content: space-between;
        
    /* Выравнивание всех элементов контейнера по второстепенной оси - по центру */
    align-items:start;
}

/* Секция Образование-Опыт работы*/
/* Строка Предприятие-Город*/
.firm-town {
    /* Блок делаем флексом */
    display: flex;
    /* Установка всех элементов в столбец */
    flex-direction: column;
    /* Расстояние между элементами */
    gap: 4px; 
    /* Выравнивание всех элементов контейнера по второстепенной оси - по центру */
    // align-items: center;
    /* Выравнивание контента - по левой стороне*/
    // justify-content:left ;

        /*===============================================*/
        /* Установка для промежутка между мобильной версией и планшетом */
        // @media screen and (min-width:$mobile) {
        //     
        // }           
        /*===============================================*/
        /* Установка для размера - больше планшета */
        @media screen and (min-width:$tablet) {
            /* Установка всех элементов в строку */
            flex-direction: row;
            /* Расстояние между элементами */
            gap: 12px;
            /* Выравнивание всех элементов контейнера по второстепенной оси - по базовой линии текста */
            align-items:baseline;
        }
}

.btn-details {
    /* Блок абсолютного позиционирования кнопки */
    // position: absolute;
    // right: 50px;
    // bottom: 4px;
    /*===========================================*/
    padding: 4px 16px;
    border-radius: 8px;
    border-style: solid;
    border-color: $color-black;
    border-width: 1px;

    // Ширина кнопки (если текстовая кнопка)
    min-width: 200px;

    // Текст кнопки
    color: $color-black;
    // Фон кнопки
    background-color: $color-bg-main;
    // Тень для кнопки
    // box-shadow добавляет тень к элементу. Через запятую можно задать несколько теней. 
    // Тень описывается смещениями по оси X и Y относительно элемента,
    // радиусом размытия и распространения, а также цветом (имя или rgba).

    box-shadow: 2px 2px 2px 2px rgba(0, 0, 255, 0.2);
    
    cursor: pointer;

    &:hover,
    &:focus {
        // Изменяется цвет фона
        background-color: $color-bg-section;
        
    };

    // При показе деталей кнопка меняется (Если кнопка текстовая)
    &.show {
        // Цвет текста кнопки
        color: $color-white;
        // Изменяется цвет фона
        background-color: $color-accent;
        // Изменяется тень кнопки
        box-shadow: 1px 1px 1px 1px rgba(0, 0, 255, 0.2);
    };


    
}

// В обычном сосоянии подробности (опыта работы) не показываются
.details {
    display: none;
    // Подробности показыавются при class="show"
    &.show {
        display: block;
    };
}
