/* Стили для секции*/


// Блок с основным контентом
.main-content {

    /* Шаблон, который ограничивает контент размером сетки и устанавливает отступы */
    @extend %container;

   
    /* Блок делаем флексом */
    display: flex;
    /* Установка всех элементов в столбец */
    flex-direction: column;

    /* Расстояние между колонками */ 
    gap: 12px;

    /* Выравнивание всех элементов контейнера по второстепенной оси - по центру */
    // align-items: center;
    /* Выравнивание контента - по расстоянию между ними*/
    // justify-content: ;

        /*===============================================*/
        /* Установка для промежутка между мобильной версией и планшетом */
        // @media screen and (min-width:$mobile) {
        //     
        // }           
        /*===============================================*/
        /* Установка для размера - больше планшета */
        @media screen and (min-width:$tablet) {
            /* Установка всех элементов в строку */
            flex-direction: row;
        }
    
        /* Для печатной версии - Установка side-left / side-right всех элементов в строку */
        @media print {
            flex-direction: row;
        };
}

.side-left {
    /* Ширина блока */
    width: 100%;

    /* Блок делаем флексом */
    display: flex;
    /* Установка всех элементов в столбец */
    flex-direction: column;
    /* Расстояние между блоками */
    gap: 12px;

        /*===============================================*/
        /* Установка для промежутка между мобильной версией и планшетом */
        // @media screen and (min-width:$mobile) {
            //     
        // }           
        /*===============================================*/
        /* Установка для размера - больше планшета */
        @media screen and (min-width:$tablet) {
            /* Ширина блока */
            max-width: 400px;
        };

    @media print {
        /* Установка ширины элемента - 40 % общей ширины */
        width: 40%;
    };
}


.side-right {
    /* Ширина блока */
    width: 100%;
    /* Блок делаем флексом */
    display: flex;
    /* Установка всех элементов в столбец */
    flex-direction: column;
    /* Расстояние между блоками */
    gap: 12px;
}



/* Секция = Заголовок + Список */
.section {

    padding-top: 8px;
    padding-right: 0px;
    padding-bottom: 8px;
    padding-left: 0px;
    
    border-radius: 12px;
    border-style: solid;
    border-color: $color-bg-part;
    border-width: 1px;

    background-color: $color-bg-section;

    /* Ширина блока */
    width: 100%;
    /* Блок делаем флексом */
    display: flex;
    /* Установка всех элементов в столбец */
    flex-direction: column;
    /* Расстояние между блоками */
    gap: 8px;
    /* Выравнивание контента - по расстоянию между ними*/
    // justify-content: space-between;
    /* Выравнивание всех элементов контейнера по второстепенной оси - по центру */
    // align-items: center;


    & .photo {
        padding-top: 0;
        padding-bottom: 0;

        display: block;
        /* Ширина блока */
        width: 100%;
        height: auto;
        // object-fit: cover;
        border-radius: 12px;
    }

    &.additions {
        /* В мобильной версии невидим блок - Дополнительная информация */
        display: none;
            /* Блок "Дополнительная информация" остается невидим для всех версий */ 
            /*===============================================*/
            /* Установка для промежутка между мобильной версией и планшетом */
            // @media screen and (min-width:$mobile) {
                //     
            // }           
            /*===============================================*/
            /* Установка для размера - больше планшета */
            @media screen and (min-width:$tablet) {
                /* Видимость блока - Дополнительная информация */
                /* Блок "Дополнительная информация" остается невидим для всех версий */
                display: none;
                // display: inline-flex;
            }
    }

    @media print {
        /* Изменение цвета фона */
        background-color: $color-bg-main;
    }
}

/* ПодСекция = Заголовок + Список */
.subsection {

    padding-top: 8px;
    padding-right: 0px;
    padding-bottom: 8px;
    padding-left: 0px;

    border-radius: 12px;
    border-style: solid;
    border-color: $color-bg-part;
    border-width: 1px;

    background-color: $color-bg-subsection;

    /* Ширина блока */
    width: 100%;
    /* Блок делаем флексом */
    display: flex;
    /* Установка всех элементов в столбец */
    flex-direction: column;
    /* Расстояние между блоками */
    gap: 8px;
    /* Выравнивание контента - по расстоянию между ними*/
    // justify-content: space-between;
    /* Выравнивание всех элементов контейнера по второстепенной оси - по центру */
    // align-items: center;

    &.filter {
        border-radius: 12px;
        border-style: solid;
        border-color: $color-bg-part;
        border-width: 1px;
        
        background-color: $color-bg-subsection;
        /* Установка всех элементов в строку */
        flex-direction: row;
        /* Расстояние между блоками */
        gap: 12px;
        /* Выравнивание контента - по расстоянию между ними*/
        justify-content: center;
        /* Выравнивание всех элементов контейнера по второстепенной оси - по центру */
        align-items: center;

        & .inputs {
            padding-top: 4px;
            padding-right: 12px;
            padding-bottom: 4px;
            padding-left: 12px;

            border-radius: 8px;

            background-color: $color-bg-part;
            display: flex;
            /* Установка всех элементов в строку */
            flex-direction: row;
            /* Расстояние между блоками */
            gap: 28px;
            /* Выравнивание всех элементов контейнера по второстепенной оси - по центру */
            align-items: center;
            & .filter-input {
                display: flex;
                /* Установка всех элементов в строку */
                flex-direction: row;
                /* Расстояние между блоками */
                gap: 8px;
                /* Выравнивание всех элементов контейнера по второстепенной оси - по центру */
                align-items: center;
            }
        }
        
    }
}

/* Заголовок секции */
.text-title-section, 
.text-title-subsection,
.text-title-main {
    // Выравнивание текста внутри блока
    text-align: center;
}


/* Список внутри секции - ul */
.list {
    /* Шаблон, который определяет "нулевые" установки для ненумерованного списка */
    @extend %list;
    /* Блок делаем флексом */
    display: flex;
    /* Установка всех элементов в столбец */
    flex-direction: column;
    /* Расстояние между блоками */
    gap: 8px;
    /* Выравнивание контента - по расстоянию между ними*/
    // justify-content: space-between;
    /* Выравнивание всех элементов контейнера по второстепенной оси - по центру */
    // align-items: center;
}

/* Блоки списка */
.item {
    /* Для абсолютного позиционирования кнопки - Подробнее..*/
    position: relative;

    width: 100%;
    padding-top: 4px;
    padding-right: 24px;
    padding-bottom: 4px;
    padding-left: 24px;
    
    background-color: $color-bg-part;
    border: none;
    border-radius: 8px;

    /* Ширина блока */
    width: 100%;
    /* Блок делаем флексом */
    display: flex;
    /* Установка всех элементов в строку */
    flex-direction: row;
    /* Расстояние между блоками */
    // gap: 8px;

    /* Выравнивание контента */
    /* Для блоков с оценками - по расстоянию между ними */
    justify-content: space-between;

    /* Выравнивание всех элементов контейнера по второстепенной оси - по центру */
    align-items: center;

    @media print {
            /* Изменение цвета фона */
            background-color: white;
    }


}

.contacts .item {
    /* Расстояние между блоками */
    gap: 24px;
    /* Выравнивание контента */
    justify-content: start;
}



.educations .item,
.works .item,
.projects .item  {
    /* Установка всех элементов в столбец */
    flex-direction: column;
    /* Расстояние между блоками */
    gap: 4px;
        
    /* Выравнивание контента */
    /* Для блоков с оценками - по расстоянию между ними */
    // justify-content: space-between;
        
    /* Выравнивание всех элементов контейнера по второстепенной оси - по центру */
    align-items:start;
}

/* Секция Образование-Опыт работы*/
/* Строка Предприятие-Город*/
.firm-town {
    /* Блок делаем флексом */
    display: flex;
    /* Установка всех элементов в столбец */
    flex-direction: column;
    /* Расстояние между элементами */
    gap: 4px; 
    /* Выравнивание всех элементов контейнера по второстепенной оси - по центру */
    // align-items: center;
    /* Выравнивание контента - по левой стороне*/
    // justify-content:left ;

        /*===============================================*/
        /* Установка для промежутка между мобильной версией и планшетом */
        // @media screen and (min-width:$mobile) {
        //     
        // }           
        /*===============================================*/
        /* Установка для размера - больше планшета */
        @media screen and (min-width:$tablet) {
            /* Установка всех элементов в строку */
            flex-direction: row;
            /* Расстояние между элементами */
            gap: 12px;
            /* Выравнивание всех элементов контейнера по второстепенной оси - по базовой линии текста */
            align-items:baseline;
        }
}

/* Строка  Кнопка "Подробнее"  -  Период */
.period-btn {
    /* Блок делаем флексом */
    display: flex;
    /* Установка всех элементов в строку */
    flex-direction: row;
    /* Расстояние между элементами */
    gap: 20px;
    /* Выравнивание всех элементов контейнера по второстепенной оси - по базовой линии текста */
    align-items:center;
}


// Для кнопки "Подробнее" в виде кнопки с текстом
.btn-details {
    /* =========================================== */
    /* Блок абсолютного позиционирования кнопки */
    // position: absolute;
    // right: 50px;
    // bottom: 4px;
    /* =========================================== */

    /* =========================================== */
    /* Блок стилей для текстового контента кнопки */
    /* Внутренние отступы*/
    // padding: 4px 16px;
    /* Ширина кнопки (если текстовая кнопка) */
    // min-width: 200px;
    /* Текст кнопки */
    // color: $color-black;
    /* =========================================== */

    /* =========================================== */
    /* Блок стилей контент кнопки - фоновая иконка */
    width: 24px;
    height: 24px;

    background-image: url('../icon/arrow-down.svg');
    background-repeat: no-repeat;
    background-size: 14px 14px;
    background-position: center;

    /* =========================================== */

    border-radius: 8px;
    border-style: solid;
    border-color: $color-black;
    border-width: 1px;

    // Фон кнопки
    background-color: $color-bg-part;

    // Тень для кнопки
    // box-shadow добавляет тень к элементу. Через запятую можно задать несколько теней. 
    // Тень описывается смещениями по оси X и Y относительно элемента,
    // радиусом размытия и распространения, а также цветом (имя или rgba).

    box-shadow: 1px 1px 1px 1px rgba(0, 0, 255, 0.2);
    
    /* Вид курсора над кнопкой */
    cursor: pointer;

    /* Анимация кнопки - разворот */
    transform: rotate(0deg);
    transition: transform 250ms linear, background-color 250ms linear, fill 250ms linear;

    &:hover,
    &:focus {
        // Изменяется цвет фона
        background-color: $color-bg-section;   
    };

    // При показе деталей кнопка меняется (Если кнопка текстовая)
    &.show {

        /* Цвет текста кнопки - Для текстового контента */
        // color: $color-white;
        
        // Изменяется цвет фона
        background-color: $color-bg-main;
        // Тень для кнопки
        // box-shadow добавляет тень к элементу. Через запятую можно задать несколько теней. 
        // Тень описывается смещениями по оси X и Y относительно элемента,
        // радиусом размытия и распространения, а также цветом (имя или rgba).
            
        box-shadow: -1px -1px 1px 1px rgba(0, 0, 255, 0.2);
        /* Анимация кнопки - разворот на 180 градусов */
        transform: rotate(180deg);

    };
    
}



// Для кнопки "Подробнее" в виде кнопки с иконкой - inline-svg в теге button 
/* Только ОТЛИЧИЯ */
.btn-details-icon {
    padding: 4px 6px 0px 6px;
    // Заполнение иконки кнопки
        fill: $color-black;  
    // При показе деталей кнопка меняется (Если кнопка текстовая)
    &.show {
        // Цвет текста кнопки
        fill: $color-white;
    };
}

// В обычном состоянии подробности (опыта работы) не показываются
.details {
    /* В пормальном состоянии - Подробности скрыты*/
    display: none;

    // Подробности показыавются при class="show"
    &.show {
        display: block;
        // background-color: $color-bg-details;
    };

    /* Верхняя граница - линия */
    // border-top: 2px solid $color-black;
    /* Ширина */ 
    width: 100%;

    /* Стили для списка - Обязанности*/
    & .list.response {
        /* Шаблон для немаркированного списка */
        @extend %list;

        padding: 8px 4px;
        /* Верхняя граница - линия */
        border-top: 1px solid $color-black;
        width: 100%;

        list-style: circle ;
        padding-left: 16px;
    }

    /* Стили для списка - Достижения */
    & .list.achieve {
        /* Шаблон для немаркированного списка */
        @extend %list;
        
        padding: 8px 4px;
        /* Верхняя граница - линия */
        border-top: 1px solid $color-black;
        width: 100%;

        list-style: circle ;
        padding-left: 16px;
    }
}
